:root {
  --primary-light: #1e65a0;
  --primary-dark: #173f5f;
  --font-light: #999;
  --font-dark: #333;

  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.background {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--primary-light),
    var(--primary-dark)
  );
}

body {
  font-family: Barlow, sans-serif;
  font-weight: 900;
}

video {
  border-radius: var(--border-radius);
}

h1 {
  color: var(--font-light);
}
.image-lyric {
  margin-top: -10vh;
  rotate: -20deg;
}

.emotion {
  color: var(--font-light);
  z-index: 2;
  margin-top: -4vh;
}
